fastapi==0.111.1
uvicorn[standard]==0.30.1
python-multipart==0.0.22
librosa==0.10.2
numpy==1.26.4
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
celery==5.4.0
redis==5.0.6
pinecone-client==4.1.0
python-dotenv==1.0.1
httpx==0.27.0
scipy==1.13.1
soundfile==0.12.1
